
<ngu-carousel [inputs]="carouselTile" [dataSource]="dataSource">
  <button type="button" class="leftRs" NguCarouselPrev></button>
  <button type="button" class="rightRs" NguCarouselNext></button>

  <ngu-tile *nguCarouselDef="let obj;">
    <section    >
      <div class="slide-view_column py-4 slide-margin">
        <div class="slide-view__list pb-2 my-2">
          <p style="font-weight: 600;">{{obj?.name}}</p>
        </div>
        <div class="slide-view__list pb-2 my-2 ">
          <img class="img-thumbnail slide-img-size" [src]="obj?.img || obj?.imageUrl">
        </div>
        <div class="slide-view__list pt-2 my-2">
          <button type="button" (click)="addVariation(obj)"
                          class="btn btn-outline-success">Select</button>

        </div>
      </div>
    </section>
  </ngu-tile>
</ngu-carousel>
