<ngb-accordion [closeOthers]="true" activeIds='{{header | dashString }}-design-menu-0' #subMenu1>
  <ng-container *ngFor="let item of dataSource; index as s">
    <ng-container *ngIf="item.active">
      <ngb-panel id="{{header | dashString }}-design-menu-{{s}}">
        <ng-template ngbPanelTitle>
          <div class="row w-100 align-items-baseline">
            <div class="col-6 ">
              <h6 class="fst-italic ">{{ item.label }}
                <span *ngIf="item.image != null" [ngbTooltip]="toolTipContent" triggers="click hover">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-info-circle"
                    viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                </span>
                <span *ngIf="item.required === true" class="required">*
                </span>
                <ng-template #toolTipContent><img class="img-thumbnail" [src]="item.image"></ng-template>
              </h6>
            </div>
            <div class="col-6 ">
              <p>Selection: <span
                  style="color: rgb(0, 0, 0); font-weight:600; font-style: italic; font-size: 1.125em; padding-left: 10px;">{{selection[item.attribute_pewc]
                  || 'No Selection'}}</span></p>
            </div>
          </div>

        </ng-template>
        <ng-template ngbPanelContent>
          <div class="container">
            <div class="row">
              <ng-container class="col-md radio-input-container"
                *ngFor="let input of colorFilter(item.type, item.gloveType); index as x">
                <button id="{{input.label | dashString}}-{{x}}" type="button" class="btn shadow radio-buttons"
                  [style.background]="input.hex" (click)="addColorVariation(item, input, s)"
                  ngbTooltip="{{ input.name }}" tooltipClass="qo-tooltip-class">
                </button>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ng-container>
</ngb-accordion>

