<div class="row">
  <button class="btn btn-clear d-flex flex-wrap justify-content-center align-items-center" (click)="open(content)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-info-circle mx-2" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
    </svg>
    <p class="fw-light fst-italic" style="font-weight:400; margin: unset;">Shipping & Returns</p>
  </button>
  <!-- <app-mobile-footer></app-mobile-footer> -->
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Shipping and Returns Policy</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="h6">Shipping</p>
    <ul class="list-group">
      <li class="list-group-item">Please allow 4-6 weeks for delivery. During holiday season delivery times may be longer.</li>
      <li class="list-group-item">Local Pickup is available to NYC customers</li>
    </ul>
    <hr/>
    <p class="h6"> 100% Refund Policy</p>
    <ul class="list-group">
      <li class="list-group-item">48 hours to inspect and evaluate custom glove purchase.</li>
      <li class="list-group-item">Production mistakes qualify for a 100% refund.</li>
      <li class="list-group-item">Gloves must be returned in its original condition to qualify.</li>
    </ul>
    <hr/>
    <p class="h6"> 100% Guarantee Policy</p>
    <ul class="list-group">
      <li class="list-group-item">1 year non-transferable warranty on custom gloves.</li>
      <li class="list-group-item">Warranty claims must be initiated via email.</li>
      <li class="list-group-item">"Defective" claims will be repaired or replaced at the discretion of NYStixs.</li>
    </ul>
  </div>

</ng-template>
